<style>
  .login > a {
    text-decoration-line: none;
    color: black;
  }

  form {
    display: inline;
    text-decoration-line: none;
    color: black;
  }
</style>

<div class="navbar">
  <!-- <div class="logo">blog</div> -->

  <div class="login">
    <a href="/" class="logo_service text_hide" title="brunch">홈</a>

    &nbsp; &nbsp;

    <a href="/post/">글쓰기</a>
    &nbsp;
    <form class="search" action="/post/search" method="post">
      <input type="text" name="key" />
      <button type="submit">검색</button>
    </form>
  </div>
</div>
